<span class="result" data-symbol_key="{{symbol_key}}" data-id="{{ id }}">
  <span class="img_holder">
    <a href="{{ details_url }}"><img src="{{ image_url }}" alt="" class='fit_image'/></a>
  </span>
  <a href="{{ details_url }}" class="name">{{ name }}</a> 
  <span class="meta">{{repo_key}}, {{license}}</span>
</span>